@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Rubik+Mono+One&display=swap');

:root{
  --primary-color: #e5c641;
  --text-dark: #000000;
  --text-light: #737373;
  --extra-light: #f4f6f6;
  --white: #ffffff;
  --max-width: 1200px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  overflow: hidden;
}

.section_header {
  position: relative;
  isolation: isolate;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--text-dark);
}

.section_header::before{
  position: absolute;
  bottom: -10px;
  right: -20px;
  height: 60px;
  width: 150px;
  background-image: url(C:\Users\Kristofer\Desktop\onlineshop\src\img\header-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  white-space: nowrap;
  background-color: var(--text-dark);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
background-color: var(--primary-color);
}

img {
display: flex;
width: 100%;
}

a{
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav_header{
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav_logo a{
margin-left: 0.6rem ;
font-size: 1.4rem;
font-weight: 700;
color: var(--white);
}

.nav_menu_btn {
  margin-right: 1rem ;
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}

.nav_links{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav_links.open {
  transform: translateY(100%);
}

.nav_links a{
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.nav_links a:hover {
  color: var(--text-dark);
}

header{
  padding-top: 5rem;
  padding-inline: 1rem;
  margin-bottom: 5rem;
  overflow: hidden;
}
.header_container{
  padding: 0;
  max-width: calc(var(--max-width) - 2rem);
  display: grid;
  background-color: var(--extra-light);
  border-radius: 2rem;
}

.header_content{
  padding: 5rem 1rem;
}

.header_content h1{
 word-spacing: 2rem;
 margin-bottom: 1rem;
 margin-left: 2rem;
 font-size: calc(3rem + 2vw);
 font-weight: 900;
 line-height: 5.5rem;
 color: var(--text-dark);
 text-align: center;
}



.header_content h1 span{
  position: relative;
  isolation: isolate;
  box-sizing: content-box;
  }

.header_content h1 span::before{
  position: absolute;
  content: "";
  top: 0;
  left: -2rem;
  height: 100%;
  width: calc(100% + 4rem);
  transform: rotate(-2deg);
  z-index: -1;
}

.header_content h1 span:nth-child(1)::before {
background-color: var(--white);
}

.header_content h1 span:nth-child(4)::before {
  background-color: var(--primary-color);
  }

.header_content p {
  margin-bottom: 2rem;
  font-size: 4vw;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
  margin-left: 2rem;
}

.header_btns {
  text-align: center;
  margin-left: 2rem;
}

.header_image img {
  max-width: 1000px;
  margin-inline: auto;

}

.banner {
  padding-block: 4rem;
  overflow: hidden;
  background-color: var(--primary-color)
}

.banner_container{
  width: max-content;
  display: flex;
  align-items: center;
  gap: 8rem;
  animation: scroll 45s linear infinite;
}

.banner_container img{
  height: 40px;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 4rem));
  }
}

.arrival_container .section_header {
  margin-bottom: 4rem;
  max-width: fit-content;
}

.arrival_container .section_header::before{
  content: ""; 
}

.arrival_grid{
  display: grid;
  gap: 2rem;
}

.arrival_card {
  max-width: 400px;
  margin-inline: auto;
}

.arrival_image {
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.arrival_image img{
  transition: 0.3s;
}

.arrival_card:hover .arrival_image img{
  transform: scale(1.1);
}

.arrival_content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.arrival_content h4{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark)
}

.arrival_content a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-light);
}

.arrival_content a:hover {
  color: var(--primary-color)
}

.arrival_content span{
  font-size: 1.5rem;
  color: var(--text-light);
}

.arrival_content span:hover {
  color: var(--primary-color);
}

.sale{
  background-color: var(--primary-color)
}

.sale_container{
  padding-block: 1rem 0;
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.sale_image img{
  max-width: 500px;
  margin-inline: auto;
  filter: drop-shadow(20px 20px 15px rgba(0,0,0,0.5));
}

.sale_content{
  padding-bottom: 4rem;
}

.sale_content h2{
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 800;
  line-height: 5.75rem;
}

.sale_content h2 span{
  position: relative;
  isolation: isolate;
}

.sale_content h2 span::before{
  position: absolute;
  content: "";
  top:0;
  left: -1rem;
  height: calc(100% - 10px);
  width: calc(100% + 4rem);
  background-color: var(--white);
  transform: rotate(-2deg);
  z-index: -1;
}

@media (width > 540px){
  .header_content h1{
    font-size: 5rem;
    line-height: 6.5rem;
  }

  .arrival_grid{
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (width > 768px){
  nav{
    position: static;
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }


 .nav_header {
  padding: 0;
  background-color: transparent;
 }

 .nav_logo a{
  font-size: 1.75rem;
  color: var(--text-dark);
  font-family: ;
 }

 .nav_menu_btn {
  display: none;
 }

 .nav_links{
  position: static;
  padding: 0;
  flex-direction: row;
  justify-content: flex-end;
  background-color: transparent;
  transform: none;
 }
 
 .nav_links a{
  color: var(--text-dark);
 }

 .nav_links a:hover{
  color: var(--primary-color);
 }

 header{
  padding-top: 0;
}

.header_container {
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  isolation: isolate;
}

.header_content :is(h1, p, .header_btns){
text-align: left;

}

.header_content p{
  font-size: calc(7px + 2vw);
}


.header_image{
position: relative;
height: 100%;
}

.header_image img {
  position: absolute;
  width: unset;
  max-width: unset;
  height: 100%;
  right: 2rem;
  left: -12rem;
  top: 2rem;
  z-index: -1;
}

.arrival_grid{
  grid-template-columns: repeat(3, 1fr);
}
}

.header_image{
  display: flex;
  padding: 0;
  width: 30rem ;
  margin: 0 auto;
  text-align: center;
}